<!-- HERO -->
<div class="as-hero-wrapper hero-1" id="hero">
  <div class="hero-img tilt-active">
      <img src="assets/img/hero/business-building.png" alt="Hero Image">
  </div>
  <div class="container">
      <div class="hero-style1">
          <span class="hero-subtitle">SOLUÇÃO PARA O SEU NEGÓCIO</span>
          <h1 class="hero-title">Transformando Ideias Em</h1>
          <h1 class="hero-title"><span class="text-theme fw-medium">Soluções Digitais</span></h1>
          <p class="hero-text">Transformamos suas ideias em realidade digital. Com nossa equipe experiente e tecnologia de ponta, transformamos suas visões em soluções eficientes e inovadoras.</p>
          <div class="btn-group">
              <a href="about.html" class="as-btn">ABOUT US<i class="fa-regular fa-arrow-right ms-2"></i></a>
              <div class="call-btn">
                  <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video">
                      <i class="fas fa-play"></i>
                  </a>
                  <div class="media-body">
                      <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="btn-title popup-video">Watch Our Story</a>
                      <span class="btn-text">Subscribe Now</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="hero-shape1">
      <img src="assets/img/hero/hero_shape_1_1.svg" alt="shape">
  </div>
  <div class="hero-shape2">
      <img src="assets/img/hero/hero_shape_1_2.svg" alt="shape">
  </div>
  <div class="hero-shape3">
      <img src="assets/img/hero/hero_shape_1_3.svg" alt="shape">
  </div>
</div>

<!-- FEATURE I -->
<section class="gr-bg1 about-sec-v4 space-bottom">
  <div class="container">
      <div class="row gy-4 justify-content-center">
          <div class="col-xl-4 col-md-6">
              <div class="feature-card">
                  <div class="shape-icon">
                      <img src="assets/img/icon/feature_card_1.svg" alt="icon">
                  </div>
                  <h3 class="box-title">Aplicativos Personalizados</h3>
                  <p class="feature-card_text">Desenvolvemos aplicativos personalizados para atender às necessidades exclusivas de nossos clientes. Trabalhamos próximos a eles para garantir a satisfação total.</p>
              </div>
          </div>
          <div class="col-xl-4 col-md-6">
              <div class="feature-card">
                  <div class="shape-icon">
                      <img src="assets/img/icon/feature_card_2.svg" alt="icon">
                  </div>
                  <h3 class="box-title">Sites e Sistemas Web</h3>
                  <p class="feature-card_text">Criamos sites e sistemas web atraentes e eficientes para impulsionar o sucesso de nossos clientes. Usamos as últimas tecnologias para entregar soluções inovadoras.</p>
              </div>
          </div>
          <div class="col-xl-4 col-md-6">
              <div class="feature-card">
                  <div class="shape-icon">
                      <img src="assets/img/icon/feature_card_3.svg" alt="icon">
                  </div>
                  <h3 class="box-title">Suporte e Manutenção</h3>
                  <p class="feature-card_text">Oferecemos suporte e manutenção para garantir o funcionamento ideal de software existente de nossos clientes. Mantemos suas soluções atualizadas e seguras para o sucesso a longo prazo.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="container space-top">
      <div class="row align-items-center">
          <div class="col-lg-5 mb-30 mb-lg-0">
              <div class="img-box6">
                  <div class="img1">
                      <img src="assets/img/normal/about_4_1.png" alt="About">
                  </div>
                  <div class="shape1">
                      <img src="assets/img/normal/about_4_2.png" alt="About">
                  </div>
                  <div class="shape2">
                      <img src="assets/img/normal/about_4_3.png" alt="About">
                  </div>
                  <div class="color-animate"></div>
              </div>
          </div>
          <div class="col-lg-7 text-lg-start text-center">
              <div class="ps-xxl-5">
                  <div class="title-area mb-35">
                      <span class="sub-title">About Company</span>
                      <h2 class="sec-title">O sucesso da nossa empresa</h2>
                  </div>
                  <p class="mt-n2 mb-25">Nossa pequena empresa de software foi fundada em 2005 com o objetivo de oferecer soluções digitais de alta qualidade aos nossos clientes. Desde então, temos trabalhado incansavelmente para alcançar esse objetivo, desenvolvendo aplicativos personalizados, criando sites e sistemas web atraentes e eficientes e prestando suporte e manutenção para sistemas legados. Com mais de 15 anos de experiência, somos conhecidos por entregar soluções inovadoras e por trabalhar de perto com nossos clientes para garantir a satisfação total. Estamos orgulhosos do que construímos e animados com o futuro da nossa empresa.</p>
                  <div class="checklist style4 mb-40 list-center">
                      <ul>
                          <li><img src="assets/img/icon/check_1.svg" alt="icon"> Foco em soluções personalizadas de alta qualidade</li>
                          <li><img src="assets/img/icon/check_1.svg" alt="icon"> Trabalho próximo aos clientes para garantir a satisfação total</li>
                          <li><img src="assets/img/icon/check_1.svg" alt="icon"> Adoção de tecnologias de ponta e inovação constante</li>
                      </ul>
                  </div>
                  <a href="about.html" class="as-btn">ABOUT MORE<i class="fa-regular fa-arrow-right ms-2"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- SERVICE -->
<section class="gr-bg2" id="service-sec">
  <div class="round-container gr-bg3 space">
      <div class="container">
          <div class="row gy-40 justify-content-between space-bottom">
              <div class="col-6 col-lg-auto">
                  <div class="counter-card">
                      <div class="icon">
                          <img src="assets/img/icon/counter_2_1.svg" alt="Icon">
                      </div>
                      <div class="media-body">
                          <h2 class="counter-card_number text-title"><span class="counter-number">986</span>+</h2>
                          <p class="counter-card_text text-body">Finished Project</p>
                      </div>
                  </div>
              </div>
              <div class="col-6 col-lg-auto">
                  <div class="counter-card">
                      <div class="icon">
                          <img src="assets/img/icon/counter_2_2.svg" alt="Icon">
                      </div>
                      <div class="media-body">
                          <h2 class="counter-card_number text-title"><span class="counter-number">896</span>+</h2>
                          <p class="counter-card_text text-body">Happy Clients</p>
                      </div>
                  </div>
              </div>
              <div class="col-6 col-lg-auto">
                  <div class="counter-card">
                      <div class="icon">
                          <img src="assets/img/icon/counter_2_3.svg" alt="Icon">
                      </div>
                      <div class="media-body">
                          <h2 class="counter-card_number text-title"><span class="counter-number">396</span>+</h2>
                          <p class="counter-card_text text-body">Skilled Experts</p>
                      </div>
                  </div>
              </div>
              <div class="col-6 col-lg-auto">
                  <div class="counter-card">
                      <div class="icon">
                          <img src="assets/img/icon/counter_2_4.svg" alt="Icon">
                      </div>
                      <div class="media-body">
                          <h2 class="counter-card_number text-title"><span class="counter-number">496</span>+</h2>
                          <p class="counter-card_text text-body">Honorable Awards</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="title-area text-center">
              <span class="sub-title">OUR SERVICES</span>
              <h2 class="sec-title">We Provide Exclusive Services</h2>
          </div>
          <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1">
              <div class="col-md-6 col-xl-4">
                  <div class="service-3d">
                      <div class="service-3d_icon">
                          <img src="assets/img/icon/service_3d_1.svg" alt="Icon">
                      </div>
                      <div class="service-3d_content">
                          <h3 class="box-title"><a href="service-details.html">Desenvolvimento de Aplicativos Móveis Nativos</a></h3>
                          <p class="service-3d_text">Desenvolvemos aplicativos móveis nativos para melhorar a experiência do usuário e aumentar a eficiência.</p>
                          <a href="service-details.html" class="as-btn">Read More<i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-4">
                  <div class="service-3d">
                      <div class="service-3d_icon">
                          <img src="assets/img/icon/service_3d_2.svg" alt="Icon">
                      </div>
                      <div class="service-3d_content">
                          <h3 class="box-title"><a href="service-details.html">Integração de Sistemas e Aplicativos</a></h3>
                          <p class="service-3d_text">Integramos sistemas e aplicativos para aumentar a eficiência e facilitar a comunicação.</p>
                          <a href="service-details.html" class="as-btn">Read More<i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-4">
                  <div class="service-3d">
                      <div class="service-3d_icon">
                          <img src="assets/img/icon/service_3d_3.svg" alt="Icon">
                      </div>
                      <div class="service-3d_content">
                          <h3 class="box-title"><a href="service-details.html">Análise e Otimização de Performance de Software</a></h3>
                          <p class="service-3d_text">Analisamos e otimizamos performance de software para melhorar a eficiência e a experiência do usuário.</p>
                          <a href="service-details.html" class="as-btn">Read More<i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-4">
                  <div class="service-3d">
                      <div class="service-3d_icon">
                          <img src="assets/img/icon/service_3d_4.svg" alt="Icon">
                      </div>
                      <div class="service-3d_content">
                          <h3 class="box-title"><a href="service-details.html">Treinamento e Consultoria em Tecnologia Digital</a></h3>
                          <p class="service-3d_text">Oferecemos treinamento e consultoria em tecnologia digital para ajudar nossos clientes a maximizar seu uso de tecnologias digitais.</p>
                          <a href="service-details.html" class="as-btn">Read More<i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- FEATURE II -->
<div class="gr-bg1">
  <div class="container space">
      <div class="row align-items-center flex-row-reverse">
          <div class="col-lg-6 mb-30 mb-lg-0">
              <div class="img-box7">
                  <div class="img1">
                      <img src="assets/img/normal/why_3_1.png" alt="Why">
                  </div>
                  <div class="shape1">
                      <img src="assets/img/normal/why_3_2.png" alt="About">
                  </div>
                  <div class="shape2">
                      <img src="assets/img/normal/why_3_3.png" alt="About">
                  </div>
                  <div class="color-animate"></div>
              </div>
          </div>
          <div class="col-lg-6 text-lg-start text-center">
              <div class="title-area mb-35">
                  <span class="sub-title">PORQUE NOS ESCOLHER?</span>
                  <h2 class="sec-title">Projetos Tecnológicos</h2>
              </div>
              <p class="mt-n2 mb-30">Oferecemos soluções personalizadas para atender às suas necessidades específicas. Temos um time altamente capacitado e dedicado a oferecer suporte e soluções de qualidade. Além disso, nos esforçamos para construir relacionamentos de longo prazo com nossos clientes, o que garante a confiança e a satisfação em nossos serviços.</p>
              <div class="two-column mb-40 list-center">
                  <div class="checklist style2">
                      <ul>
                          <li><img src="assets/img/icon/check_1.svg" alt="icon"> Soluções Personalizadas</li>
                          <li><img src="assets/img/icon/check_1.svg" alt="icon"> Equipe Altamente Capacitada</li>
                      </ul>
                  </div>
                  <div class="checklist style2">
                      <ul>
                          <li><img src="assets/img/icon/check_1.svg" alt="icon"> Relacionamento de Longo Prazo</li>
                          <li><img src="assets/img/icon/check_1.svg" alt="icon"> Preço Competitivo</li>
                      </ul>
                  </div>
              </div>
              <a href="about.html" class="as-btn">LEARN MORE<i class="fa-regular fa-arrow-right ms-2"></i></a>
          </div>
      </div>
  </div>
  <div class="shape-mockup" data-bottom="0" data-right="0">
      <div class="particle-3" id="particle-4"></div>
  </div>
</div>

<!-- PROJECT -->
<section class="gr-bg2">
  <div class="round-container gr-bg4 space">
      <div class="container">
          <div class="row justify-content-lg-between justify-content-center align-items-center">
              <div class="col-lg-5 mb-n2 mb-lg-0">
                  <div class="title-area text-center text-lg-start">
                      <span class="sub-title">CASE STUDY</span>
                      <h2 class="sec-title">Our Portfolio / Works</h2>
                  </div>
              </div>
              <div class="col-auto">
                  <div class="sec-btn">
                      <a href="project.html" class="as-btn">VIEW ALL PORJECTS<i class="fa-regular fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
          </div> <!-- / Title row -->
          <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true" data-focuson-select="false">
              <div class="col-md-6 col-xl-4">
                  <div class="project-box">
                      <div class="project-img">
                          <img src="assets/img/project/project_3_1.jpg" alt="project image">
                      </div>
                      <div class="project-content" data-bg-src="assets/img/bg/project_card_bg.png">
                          <div class="media-body">
                              <h3 class="box-title"><a href="project-details.html">IT Consultency</a></h3>
                              <p class="project-subtitle">Technology</p>
                          </div>
                          <a href="assets/img/project/project_3_1.jpg" class="icon-btn popup-image"><i class="far fa-plus"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-xl-4">
                  <div class="project-box">
                      <div class="project-img">
                          <img src="assets/img/project/project_3_2.jpg" alt="project image">
                      </div>
                      <div class="project-content" data-bg-src="assets/img/bg/project_card_bg.png">
                          <div class="media-body">
                              <h3 class="box-title"><a href="project-details.html">Web Development</a></h3>
                              <p class="project-subtitle">Technology</p>
                          </div>
                          <a href="assets/img/project/project_3_2.jpg" class="icon-btn popup-image"><i class="far fa-plus"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-xl-4">
                  <div class="project-box">
                      <div class="project-img">
                          <img src="assets/img/project/project_3_3.jpg" alt="project image">
                      </div>
                      <div class="project-content" data-bg-src="assets/img/bg/project_card_bg.png">
                          <div class="media-body">
                              <h3 class="box-title"><a href="project-details.html">Website Design</a></h3>
                              <p class="project-subtitle">Technology</p>
                          </div>
                          <a href="assets/img/project/project_3_3.jpg" class="icon-btn popup-image"><i class="far fa-plus"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-xl-4">
                  <div class="project-box">
                      <div class="project-img">
                          <img src="assets/img/project/project_3_4.jpg" alt="project image">
                      </div>
                      <div class="project-content" data-bg-src="assets/img/bg/project_card_bg.png">
                          <div class="media-body">
                              <h3 class="box-title"><a href="project-details.html">SEO Optimization</a></h3>
                              <p class="project-subtitle">Marketing</p>
                          </div>
                          <a href="assets/img/project/project_3_4.jpg" class="icon-btn popup-image"><i class="far fa-plus"></i></a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="shape-mockup" data-top="0%" data-right="0%"><img src="assets/img/shape/tech_shape_6.png" alt="shape"></div>
      <div class="shape-mockup" data-bottom="0%" data-left="0%"><img src="assets/img/shape/tech_shape_7.png" alt="shape"></div>
  </div>

</section>

<!-- PROCESS -->
<section class="gr-bg1 space" id="process-sec">
  <div class="container">
      <div class="title-area text-center">
          <span class="sub-title">WORK PROCESS</span>
          <h2 class="sec-title">How to work <span class="text-theme">it!</span></h2>
      </div>
      <div class="process-card-area">
          <div class="process-line position-top">
              <img src="assets/img/bg/process_line_2.svg" alt="line">
          </div>
          <div class="row gy-40 justify-content-between">
              <div class="col-sm-6 col-xl-auto process-card-wrap">
                  <div class="process-card">
                      <div class="pulse"></div>
                      <div class="process-card_icon">
                          <img src="assets/img/icon/process_box_1.svg" alt="icon">
                      </div>
                      <h2 class="box-title">Select a project</h2>
                      <p class="process-card_text">O processo de seleção de projetos é cuidadoso e garante que a equipe da empresa tenha as habilidades e recursos necessários para oferecer suporte de alta qualidade ao cliente.</p>
                  </div>
              </div>
              <div class="col-sm-6 col-xl-auto process-card-wrap">
                  <div class="process-card">
                      <div class="pulse"></div>
                      <div class="process-card_icon">
                          <img src="assets/img/icon/process_box_2.svg" alt="icon">
                      </div>
                      <h2 class="box-title">Project analysis</h2>
                      <p class="process-card_text">A equipe de análise entra em contato com o cliente para entender suas necessidades, desejos e objetivos para o projeto.</p>
                  </div>
              </div>
              <div class="col-sm-6 col-xl-auto process-card-wrap">
                  <div class="process-card">
                      <div class="pulse"></div>
                      <div class="process-card_icon">
                          <img src="assets/img/icon/process_box_3.svg" alt="icon">
                      </div>
                      <h2 class="box-title">Plan Execute</h2>
                      <p class="process-card_text">Identificação das necessidades e objetivos do cliente, estabelecimento de prazos e recursos, definição de responsabilidades e monitoramento do progresso para garantir o sucesso do projeto.</p>
                  </div>
              </div>
              <div class="col-sm-6 col-xl-auto process-card-wrap">
                  <div class="process-card">
                      <div class="pulse"></div>
                      <div class="process-card_icon">
                          <img src="assets/img/icon/process_box_4.svg" alt="icon">
                      </div>
                      <h2 class="box-title">Deliver result</h2>
                      <p class="process-card_text">com rigorosa qualidade e atenção aos detalhes, usando metodologias ágeis e garantindo a satisfação dos clientes através de processos de validação e testes.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- TESTIMONIAL -->
<section class="gr-bg2">
  <div class="round-container " data-bg-src="assets/img/bg/testi_bg_4.jpg">
      <div class="container">
          <div class="testi-block-area">
              <div class="testi-block-slide as-carousel" data-slide-show="1" data-md-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true" data-lg-dots="true" data-md-dots="true" data-sm-dots="true" data-xs-dots="true">
                  <div class="col-xl-6">
                      <div class="testi-block">
                          <p class="testi-block_text">“A equipe da Procdata Tecnologia foi incansável em entender nossas necessidades e desenvolver um aplicativo que atendesse a todos os nossos requisitos. Eles foram flexíveis e sempre dispostos a fazer ajustes quando necessário. Estamos muito satisfeitos com o resultado final!”</p>
                          <div class="testi-block_profile">
                              <div class="testi-block_avater">
                                  <img src="assets/img/testimonial/testi_4_1.jpg" alt="Avater">
                              </div>
                              <div class="media-body">
                                  <h3 class="box-title">Maria Santos</h3>
                                  <p class="testi-block_desig">Gerente de TI</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6">
                      <div class="testi-block">
                          <p class="testi-block_text">“A Procdata Tecnologia ofereceu soluções criativas e inovadoras para o nosso sistema legado, tornando-o mais fácil e eficiente para uso diário. Eles foram ágeis e eficientes na entrega, e seu suporte pós-implementação é excepcional.”</p>
                          <div class="testi-block_profile">
                              <div class="testi-block_avater">
                                  <img src="assets/img/testimonial/testi_4_2.jpg" alt="Avater">
                              </div>
                              <div class="media-body">
                                  <h3 class="box-title">João Silva</h3>
                                  <p class="testi-block_desig">Diretor de Projetos</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6">
                      <div class="testi-block">
                          <p class="testi-block_text">“Não podemos expressar o quanto estamos agradecidos por ter escolhido a Procdata Tecnologia para desenvolver o nosso site. Eles foram incansáveis na busca por compreender nossa marca e oferecer soluções personalizadas. O resultado final foi incrível e superou todas as nossas expectativas!”</p>
                          <div class="testi-block_profile">
                              <div class="testi-block_avater">
                                  <img src="assets/img/testimonial/testi_4_3.jpg" alt="Avater">
                              </div>
                              <div class="media-body">
                                  <h3 class="box-title">Ana Luiza Oliveira</h3>
                                  <p class="testi-block_desig">Diretora de Marketing Digital</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6">
                      <div class="testi-block">
                          <p class="testi-block_text">“A Procdata Tecnologia ofereceu treinamento excepcional e consultoria em tecnologia digital para nossa equipe. Eles foram muito pacientes e compreensivos, e suas soluções foram úteis e fáceis de implementar. Nossa equipe agora está muito mais eficiente e capacitada.”</p>
                          <div class="testi-block_profile">
                              <div class="testi-block_avater">
                                  <img src="assets/img/testimonial/testi_4_4.jpg" alt="Avater">
                              </div>
                              <div class="media-body">
                                  <h3 class="box-title">Luis Henrique Rodrigues</h3>
                                  <p class="testi-block_desig">CEO de Start-up Inovadora</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="testi-block-quote">
                  <img src="assets/img/icon/quote_3d.svg" alt="quote">
              </div>
          </div>
      </div>
  </div>
</section>

<!-- FAQ -->
<div class="overflow-hidden gr-bg1 space-top" id="faq-sec">
  <div class="container space-bottom">
      <div class="row as-carousel" id="brandSlide1" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="3" data-xs-slide-show="2">
          <div class="col-auto">
              <div class="brand-box">
                  <img src="assets/img/brand/brand_1_1.png" alt="Brand Logo">
              </div>
          </div>
          <div class="col-auto">
              <div class="brand-box">
                  <img src="assets/img/brand/brand_1_2.png" alt="Brand Logo">
              </div>
          </div>
          <div class="col-auto">
              <div class="brand-box">
                  <img src="assets/img/brand/brand_1_3.png" alt="Brand Logo">
              </div>
          </div>
          <div class="col-auto">
              <div class="brand-box">
                  <img src="assets/img/brand/brand_1_4.png" alt="Brand Logo">
              </div>
          </div>
          <div class="col-auto">
              <div class="brand-box">
                  <img src="assets/img/brand/brand_1_5.png" alt="Brand Logo">
              </div>
          </div>
          <div class="col-auto">
              <div class="brand-box">
                  <img src="assets/img/brand/brand_1_6.png" alt="Brand Logo">
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-xl-6 col-lg-9">
              <div class="title-area text-center text-xl-start">
                  <span class="sub-title">FAQ'S</span>
                  <h2 class="sec-title">Know More About Our It Solution</h2>
              </div>
              <div class="accordion-area accordion" id="faqAccordion">


                  <div class="accordion-card style3 ">
                      <div class="accordion-header" id="collapse-item-1">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">Where can I get analytics help?</button>
                      </div>
                      <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                          <div class="accordion-body">
                              <p class="faq-text">Dramatically disseminate real-time portals rather than top-line action items. Uniquely provide access to low-risk high-yield products without dynamic products. Progressively re-engineer low-risk high-yield ideas rather than emerging alignments.</p>
                          </div>
                      </div>
                  </div>


                  <div class="accordion-card style3 active">
                      <div class="accordion-header" id="collapse-item-2">
                          <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">How long should a business plan be?</button>
                      </div>
                      <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                          <div class="accordion-body">
                              <p class="faq-text">Dramatically disseminate real-time portals rather than top-line action items. Uniquely provide access to low-risk high-yield products without dynamic products. Progressively re-engineer low-risk high-yield ideas rather than emerging alignments.</p>
                          </div>
                      </div>
                  </div>


                  <div class="accordion-card style3 ">
                      <div class="accordion-header" id="collapse-item-3">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Do I need a business plan?</button>
                      </div>
                      <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                          <div class="accordion-body">
                              <p class="faq-text">Dramatically disseminate real-time portals rather than top-line action items. Uniquely provide access to low-risk high-yield products without dynamic products. Progressively re-engineer low-risk high-yield ideas rather than emerging alignments.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 mt-35 mt-xl-0">
              <div class="img-box8">
                  <div class="img1">
                      <img src="assets/img/normal/faq_2_1.png" alt="Faq">
                  </div>
                  <div class="shape1">
                      <img src="assets/img/normal/faq_2_2.png" alt="About">
                  </div>
                  <div class="shape2">
                      <img src="assets/img/normal/faq_2_3.png" alt="About">
                  </div>
                  <div class="color-animate"></div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- BLOG -->
<section class="gr-bg2 space" id="blog-sec">
  <div class="container">
      <div class="title-area text-center">
          <span class="sub-title">NEWS & ARTICLES</span>
          <h2 class="sec-title">Get Every Single Update Blog</h2>
      </div>
      <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
          <div class="col-md-6 col-xl-4">
              <div class="blog-card">
                  <div class="blog-img">
                      <img src="assets/img/blog/blog_1_5.jpg" alt="blog image">
                  </div>
                  <div class="blog-content">
                      <div class="blog-meta">
                          <a href="blog.html"><i class="fal fa-calendar-days"></i>15 Jan, 2023</a>
                          <a href="blog.html"><i class="fal fa-comments"></i>2 Comments</a>
                      </div>
                      <h3 class="box-title"><a href="blog-details.html">Unsatiable entreaties may collecting Power.</a></h3>
                      <div class="blog-bottom">
                          <a href="blog.html" class="author"><img src="assets/img/blog/author-1-1.png" alt="avater"> By Angfuzsoft</a>
                          <a href="blog-details.html" class="line-btn">Read More<i class="fas fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-xl-4">
              <div class="blog-card">
                  <div class="blog-img">
                      <img src="assets/img/blog/blog_1_6.jpg" alt="blog image">
                  </div>
                  <div class="blog-content">
                      <div class="blog-meta">
                          <a href="blog.html"><i class="fal fa-calendar-days"></i>16 Jan, 2023</a>
                          <a href="blog.html"><i class="fal fa-comments"></i>3 Comments</a>
                      </div>
                      <h3 class="box-title"><a href="blog-details.html">Regional Manager & limited time management.</a></h3>
                      <div class="blog-bottom">
                          <a href="blog.html" class="author"><img src="assets/img/blog/author-1-1.png" alt="avater"> By Angfuzsoft</a>
                          <a href="blog-details.html" class="line-btn">Read More<i class="fas fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-xl-4">
              <div class="blog-card">
                  <div class="blog-img">
                      <img src="assets/img/blog/blog_1_7.jpg" alt="blog image">
                  </div>
                  <div class="blog-content">
                      <div class="blog-meta">
                          <a href="blog.html"><i class="fal fa-calendar-days"></i>17 Jan, 2023</a>
                          <a href="blog.html"><i class="fal fa-comments"></i>2 Comments</a>
                      </div>
                      <h3 class="box-title"><a href="blog-details.html">What’s the Holding Back the It Solution Industry?</a></h3>
                      <div class="blog-bottom">
                          <a href="blog.html" class="author"><img src="assets/img/blog/author-1-1.png" alt="avater"> By Angfuzsoft</a>
                          <a href="blog-details.html" class="line-btn">Read More<i class="fas fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-xl-4">
              <div class="blog-card">
                  <div class="blog-img">
                      <img src="assets/img/blog/blog_1_8.jpg" alt="blog image">
                  </div>
                  <div class="blog-content">
                      <div class="blog-meta">
                          <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Jan, 2023</a>
                          <a href="blog.html"><i class="fal fa-comments"></i>4 Comments</a>
                      </div>
                      <h3 class="box-title"><a href="blog-details.html">Latin derived from Cicero's 1st-century BC</a></h3>
                      <div class="blog-bottom">
                          <a href="blog.html" class="author"><img src="assets/img/blog/author-1-1.png" alt="avater"> By Angfuzsoft</a>
                          <a href="blog-details.html" class="line-btn">Read More<i class="fas fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <div class="shape-mockup" data-top="0%" data-right="0%"><img src="assets/img/bg/blog_bg_4.png" alt="shape"></div>
</section>
