  <!-- PRELOADER -->
<div class="preloader">
  <div class="preloader-inner">
      <span class="loader">
          <img src="assets/img/theme-img/preloader.svg" alt="preloader">
      </span>
  </div>
</div>

<!-- SIDEMENU -->
<div class="sidemenu-wrapper d-none d-lg-block ">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget woocommerce widget_shopping_cart">
            <h3 class="widget_title">Shopping cart</h3>
            <div class="widget_shopping_cart_content">
                <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                        <a href="#"><img src="assets/img/product/product_thumb_1_1.jpg" alt="Cart Image">Gaming Computer</a>
                        <span class="quantity">1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>940.00</span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                        <a href="#"><img src="assets/img/product/product_thumb_1_2.jpg" alt="Cart Image">Smartphone Vivo V9</a>
                        <span class="quantity">1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>899.00</span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                        <a href="#"><img src="assets/img/product/product_thumb_1_3.jpg" alt="Cart Image">SanDisk Flash Drive</a>
                        <span class="quantity">1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>756.00</span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                        <a href="#"><img src="assets/img/product/product_thumb_1_4.jpg" alt="Cart Image">Smart Power Bank</a>
                        <span class="quantity">1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>723.00</span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                        <a href="#"><img src="assets/img/product/product_thumb_1_5.jpg" alt="Cart Image">Apple Smartwatch</a>
                        <span class="quantity">1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>1080.00</span>
                        </span>
                    </li>
                </ul>
                <p class="woocommerce-mini-cart__total total">
                    <strong>Subtotal:</strong>
                    <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">$</span>4398.00</span>
                </p>
                <p class="woocommerce-mini-cart__buttons buttons">
                    <a href="cart.html" class="as-btn wc-forward">View cart</a>
                    <a href="checkout.html" class="as-btn checkout wc-forward">Checkout</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
        <input type="text" placeholder="What are you looking for?">
        <button type="submit"><i class="fal fa-search"></i></button>
    </form>
</div>

<!-- MOBILE MENU -->
<div class="as-menu-wrapper">
    <div class="as-menu-area text-center">
        <button class="as-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="home-startup-company.html"><img src="assets/img/logo.png" alt="Traga" style="width: 150px;"></a>
        </div>
        <div class="as-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="home-startup-company.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="home-startup-company.html">Startup Company</a></li>
                        <li><a href="home-web-development.html">Web Development</a></li>
                        <li><a href="home-software-company.html">Software Company</a></li>
                        <li><a href="home-digital-agency.html">Digital Agency</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Services</a>
                    <ul class="sub-menu">
                        <li><a href="service.html">Services</a></li>
                        <li><a href="service-details.html">Services Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-details.html">Shop Details</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="team-details.html">Team Details</a></li>
                        <li><a href="project.html">Project</a></li>
                        <li><a href="project-details.html">Project Details</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="faq.html">Faq Page</a></li>
                        <li><a href="error.html">Error Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- HEADER -->
<header class="as-header header-layout1">
  <div class="header-top">
      <div class="container">
          <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
              <div class="col-auto d-none d-lg-block">
                  <div class="header-links">
                      <ul>
                          <li><i class="fas fa-map-location"></i>54 NJ-12, Flemington, United States</li>
                          <li><i class="fas fa-phone"></i><a href="tel:+1539873657">+153-987-3657</a></li>
                          <li><i class="fas fa-envelope"></i><a href="mailto:info@traga.com">info@traga.com</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-auto">
                  <div class="header-social">
                      <span class="social-title">Follow Us On : </span>
                      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="sticky-wrapper">
      <!-- Main Menu Area -->
      <div class="menu-area">
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-auto">
                      <div class="header-logo">
                          <a href="home-startup-company.html"><img src="assets/img/logo.png" alt="Traga" style="width: 150px;"></a>
                      </div>
                  </div>
                  <div class="col-auto">
                      <nav class="main-menu d-none d-lg-inline-block">
                          <ul>
                              <li><a href="about.html">Home</a></li>
                              <li><a href="about.html">Serviços</a></li>
                              <li class="menu-item-has-children">
                                  <a href="#">Pages</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item-has-children">
                                          <a href="#">Shop</a>
                                          <ul class="sub-menu">
                                              <li><a href="shop.html">Shop</a></li>
                                              <li><a href="shop-details.html">Shop Details</a></li>
                                              <li><a href="cart.html">Cart Page</a></li>
                                              <li><a href="checkout.html">Checkout</a></li>
                                              <li><a href="wishlist.html">Wishlist</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="team.html">Team</a></li>
                                      <li><a href="team-details.html">Team Details</a></li>
                                      <li><a href="project.html">Project</a></li>
                                      <li><a href="project-details.html">Project Details</a></li>
                                      <li><a href="gallery.html">Gallery</a></li>
                                      <li><a href="pricing.html">Pricing</a></li>
                                      <li><a href="faq.html">Faq Page</a></li>
                                      <li><a href="error.html">Error Page</a></li>
                                  </ul>
                              </li>
                              <li><a href="contact.html">Blog</a></li>
                              <li><a href="contact.html">Contato</a></li>
                              <li><a href="contact.html">Sobre nós</a></li>
                          </ul>
                      </nav>
                      <button type="button" class="as-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                  </div>
                  <div class="col-auto d-none d-lg-block">
                      <div class="header-button">
                          <button type="button" class="icon-btn searchBoxToggler"><i class="fal fa-search"></i></button>
                          <button type="button" class="icon-btn sideMenuToggler">
                              <i class="fal fa-shopping-cart"></i>
                              <span class="badge">5</span>
                          </button>
                          <a href="contact.html" class="as-btn style3 shadow-none">Make Appointment<i class="fas fa-arrow-right ms-1"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="logo-bg"></div>
      </div>
  </div>
</header>


<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="footer-wrapper footer-layout1">
  <div class="footer-top">
      <div class="logo-bg"></div>
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-3">
                  <div class="footer-logo">
                      <a href="home-startup-company.html"><img src="assets/img/logo-white.png" alt="Procdata Tecnologia" style="width: 150px;"></a>
                  </div>
              </div>
              <div class="col-xl-9">
                  <div class="footer-contact-wrap">
                      <div class="footer-contact">
                          <div class="footer-contact_icon">
                              <i class="fas fa-phone"></i>
                          </div>
                          <div class="media-body">
                              <span class="footer-contact_text">Quick Call Us:</span>
                              <a href="tel:+19088000393" class="footer-contact_link">+190-8800-0393</a>
                          </div>
                      </div>
                      <div class="footer-contact">
                          <div class="footer-contact_icon">
                              <i class="fas fa-envelope"></i>
                          </div>
                          <div class="media-body">
                              <span class="footer-contact_text">Mail Us On:</span>
                              <a href="mailto:info@traga.com" class="footer-contact_link">info@traga.com</a>
                          </div>
                      </div>
                      <div class="footer-contact">
                          <div class="footer-contact_icon">
                              <i class="fas fa-location-dot"></i>
                          </div>
                          <div class="media-body">
                              <span class="footer-contact_text">Visit Location:</span>
                              <a href="https://www.google.com/maps" class="footer-contact_link">54 Flemington, USA</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="widget-area">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-md-6 col-xxl-3 col-xl-4">
                  <div class="widget footer-widget">
                      <h3 class="widget_title">About Company</h3>
                      <div class="as-widget-about">
                          <p class="about-text">Professionally redefine transparent ROI through low-risk high-yield imperatives. Progressively create empowered. cost effective users via team driven.</p>
                          <div class="as-social">
                              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                              <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                              <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                              <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                              <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-auto">
                  <div class="widget widget_nav_menu footer-widget">
                      <h3 class="widget_title">Quick Links</h3>
                      <div class="menu-all-pages-container">
                          <ul class="menu">
                              <li><a href="about.html">About Us</a></li>
                              <li><a href="team.html">Meet Our Team</a></li>
                              <li><a href="project.html">Our Projects</a></li>
                              <li><a href="faq.html">Help & FAQs</a></li>
                              <li><a href="contact.html">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-auto">
                  <div class="widget widget_nav_menu footer-widget">
                      <h3 class="widget_title">IT SERVICES</h3>
                      <div class="menu-all-pages-container">
                          <ul class="menu">
                              <li><a href="service-details.html">Web Development</a></li>
                              <li><a href="service-details.html">Business Development</a></li>
                              <li><a href="service-details.html">Product Management</a></li>
                              <li><a href="service-details.html">UI/UX Design</a></li>
                              <li><a href="service-details.html">Cloud services</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-auto">
                  <div class="widget footer-widget">
                      <h3 class="widget_title">Recent Posts</h3>
                      <div class="recent-post-wrap">
                          <div class="recent-post">
                              <div class="media-img">
                                  <a href="blog-details.html"><img src="assets/img/blog/recent-post-2-1.jpg" alt="Blog Image"></a>
                              </div>
                              <div class="media-body">
                                  <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Unsatiable entreaties may collecting Power.</a></h4>
                                  <div class="recent-post-meta">
                                      <a href="blog.html"><i class="fal fa-calendar-days"></i>21 June, 2023</a>
                                  </div>
                              </div>
                          </div>
                          <div class="recent-post">
                              <div class="media-img">
                                  <a href="blog-details.html"><img src="assets/img/blog/recent-post-2-2.jpg" alt="Blog Image"></a>
                              </div>
                              <div class="media-body">
                                  <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Regional Manager limited time management.</a></h4>
                                  <div class="recent-post-meta">
                                      <a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2023</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-wrap bg-title">
      <div class="container">
          <div class="row justify-content-between align-items-center">
              <div class="col-lg-6">
                  <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> {{ year }} Procdata Tecnologia LTDA-ME. All Rights Reserved.</p>
              </div>
              <div class="col-lg-6 text-end d-none d-lg-block">
                  <div class="footer-links">
                      <ul>
                          <li><a href="about.html">Terms & Condition</a></li>
                          <li><a href="about.html">Careers</a></li>
                          <li><a href="about.html">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="shape-left">
      <img src="assets/img/shape/footer_shape_2.svg" alt="shape">
  </div>
  <div class="shape-right">
      <div class="particle-1" id="particle-5"></div>
  </div>
</footer>



<div class="body-particle" id="body-particle"></div>

<!-- SCROLL TO TOPFOOTER -->
<div class="scroll-top">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
  </svg>
</div>
